li{
	display: inline-block;
}
a{
	padding: 10px;
}
body{
	padding: 50px 100px;
	background-color: lightyellow;
}
.firstp{
	padding-top: 7px;
}
nav{
	padding-top: 7px;
}
h1, h2{
	font-family: cursive;
}
